QUEUE_HOST=queue
QUEUE_PORT=5673

DATABASE_URL=postgres://monthslater:<PASSWORD-GOES-HERE>@database:5432/db

SUPABASE_URL=your_supabase_project_url
SUPABASE_ANON_KEY=your_supabase_anon_key

ADMIN_UUID=get-this-from-supabase-auth-dashboard